/* General Rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Rules */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid white;
    border-radius: 10px;
    padding: 1px;
}

.circle{
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    z-index: 500;
}

    .circle:hover{
        border: 3px solid black;
        background-color: rgba(255, 255, 255, 1);
    }

    .circle.up{
        top: 5px;
    }

    .circle.down{
        bottom: 5px;
    }

.img-carousel{
    width: 100%;
    height: 100%;
    display: none;
}

.active{
    display: inline-block;
}

#card{
    position: relative;
    color: white;
    height: 600px;
    width: 70%;
}

    #card:hover .button-card{
        display: inline-block;
    }

#card img {
    object-fit: cover;
}

.text-img{
    position: absolute;
    bottom: 50px;
    right: 20px;
    text-align: right;
}

#title{
   font-weight: bold; 
   font-size: 20px;
}

#text{
    margin-top: 10px;
}

#preview{
    position: relative;
    height: 600px;
    width: 30%;
}

.container-img{
    height: calc(100% / 5);
}

.container-img img{
    object-fit: cover;

}

.img-preview{
    height: 100%;
    width: 100%;
}

.block-active{
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.button-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#startStop, #reverse{
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    border: none;
    color: black;
    padding: 0px 12px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

#startStop:hover, #reverse:hover{
    background-color: gray;

}

